/*---------------
    RESET
---------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*---------------
    BODY
---------------*/
body {
    background-color: lightgray;
    text-align: center;
}
h1 {
    padding: 1.25rem 0;
    margin-bottom: 3.125rem;
}
.container {
    margin: auto;
    background-color: white;
    padding: .9375rem 0;
    max-width: 37.5rem;
}
li {
    list-style: none;
    margin-bottom: 15px;
    background-color: #cfebfd;
    border-radius: .625rem;
    width: 50%;
    margin: auto;
}
li p {
    margin-bottom: .9375rem;
}
